* {
    box-sizing: border-box;
}

body {
    padding-top: 10px;
    background-color: #FFE2B0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

nav {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

a:hover {
    color: #f15b40;
}

li {
    display: inline;
    margin-right: 100px;
}

li:last-child {
    margin-right: 0;
}

a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.sectionBackground {
    height: 640px;
    background: url(../img/01-Картинка-фона.jpg)
    center/cover no-repeat;
    position: relative;
    margin-bottom: 20px;
}

.sectionBackgroundBlock {
    width: 420px;
    height: 190px;
    background: linear-gradient(
            180deg,
            rgba(244, 213, 178, 0.8) 0%,
            rgba(234, 156, 65, 0.8) 100%
    );
    position: absolute;
    top: 56%;
    left: 51%;
    padding-top: 15px;
    border-radius: 90px;
}

.sectionBackgroundBorder {
    width: 390px;
    height: 160px;
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 80px;
    padding: 17px 0 0 15px;
    text-align: left;
}

.sectionBackgroundTitle {
    font-size: 36px;
    text-align: center;
    margin: 0 0 9px 0;
}

.sectionBackgroundText {
    font-size: 16px;
    margin: 0;
}

.sectionDescriptionBox {
    text-align: center;
    margin-bottom: 20px;
}

.sectionDescriptionBox img {
    margin-right: 76px;
}

.sectionDescriptionBox img:last-child {
    margin-right: 0;
}

.sectionDescriptionTextBox {

}

.sctionDescriptionTitle {
    margin: 0;
    font-size: 96px;
    text-align: center;
}

.red {
    color: #f15b40;
}

.sectionDescriptionText {
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    width: 1000px;
}
